* {
    font-family: sans-serif;
    max-width: 100%;
    background-color: white;
  }
  
  header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  
  body {
      margin: 0;
      font-family: sans-serif;
      text-align: center;
    }
  
  #scoreDisplay {
    float: left;
    color: goldenrod;
  }
  
  #scoreDisplay:hover {
    background-color: #ddd;
    color: black;
  }
  
  #timerDisplay {
    color: goldenrod;
    float: right;
    }
  
  #timerDisplay:hover
  {
    background-color: #ddd;
    color: black;
  }
  
  button {
      background-color: goldenrod;
      color: white;
      width: auto;
      border-radius: 15px;
      height: 50px;
      font-size: larger;
  }
  
  .container {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  }